:host {
  height: 40px;
}

.navbar {
  height: 100%;
  background-color: var(--navy);
  display: flex;
  align-items: center;
}

a {
  margin-right: 20px;
  text-decoration: none;
  color: var(--white);
}

.navbar-link1 {
  margin-left: 50px;
}
