<!--
This is the navbar component of the application.
It contains links to different parts of the application.

The 'navbar' class is used for styling the navbar.

Each link in the navbar is an anchor tag with a 'navbar-link' class for styling.
The 'routerLink' directive is used to link to different routes in the application.

The first link is to the home page, and it has an additional 'navbar-link1' class for unique styling.
The second link is to the transactions page.
The third link is to the Material Tabs page.
-->

<div class="navbar">
  <a class="navbar-link navbar-link1" routerLink="/">Home (input)</a>
  <a class="navbar-link" routerLink="/material-tabs-test">Material Tabs</a>
</div>

