<!--
  The ag-grid-angular component is used to display a data grid.
  The class "ag-theme-quartz" is used to apply the Quartz theme to the grid.
  The [rowData] attribute is bound to the companyTransactions() method, which provides the data for the grid.
  The [columnDefs] attribute is bound to the colDefs property, which defines the columns of the grid.
  The [defaultColDef] attribute is bound to the defaultColDef property, which defines the default properties for the columns.
  The (cellValueChanged) event is bound to the onCellValueChanged() method, which is called when the value of a cell in the grid changes.
-->

<ag-grid-angular
  class="ag-theme-quartz"
  [rowData]="companyTransactions()"
  [columnDefs]="colDefs"
  [defaultColDef]="defaultColDef"
  [rowSelection]="rowSelection"
  [suppressRowClickSelection]="suppressRowClickSelection"
  [suppressScrollOnNewData]= "suppressScrollOnNewData"
  [getRowStyle]="getRowStyle"
  (cellValueChanged)="onCellValueChanged($event)"
  (gridReady)="onGridReady($event)"
  (cellClicked)="onCellClicked($event)"
>
</ag-grid-angular>

<!--<app-color-toggle (clearColors)="clearAllColorSelections()"></app-color-toggle>-->

<!--<app-color-toggle (clearColors)="clearAllSelectedColors()"></app-color-toggle>-->

<!--<div class="selection-display">{{ selectedRowDisplay }}</div>-->
