.ag-theme-quartz {
}

/**
 * The :host pseudo-class selects the host element that the shadow DOM is attached to.
 * Here, it is used to set the height and width to 100% and to center its children both vertically and horizontally.
 */

:host {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/**
 * The ag-grid-angular class is used to style the ag-Grid Angular component.
 * It sets the height, width, and top margin of the grid using CSS variables.
 */
ag-grid-angular {
  height: var(--grid-height);
  width: var(--grid-width);

  margin-top: var(--grid-ofset);
}

.selection-display {
  margin-top: 5px;
  background-color: rosybrown;
}
