/* You can add global styles to this file, and also import other style files */
:root {
  --grid-ofset: 25px;
  --grid-height: 65vh;
  --grid-width: 90%;

  /* Color palette: */
  --white: #F1F6F9;
  --navy: #14274E;
  --faded-blue: #394867;
  --grey: #9BA4B4;
}

html, body {
  height: 100%;
  margin: 0;

  font-family: 'Arial', sans-serif;
  background-color: var(--white);
}

/* AG GRID HEADER STYLING */
.grid-header {
  /* margin: 10px;
  box-sizing: border-box; */
  background-color: rgb(244, 244, 244);
  color: var(--navy);
  text-align: center;
  overflow-wrap: break-word;
}

.ag-header-cell-label {
  display: flex;
  justify-content: center;
}
