/* Importowanie fontów Roboto z Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* Importowanie ikon Material Icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  --grid-ofset: 25px;
  --grid-height: 65vh;
  --grid-width: 90%;

  /* Color palette: */
  --white: #F1F6F9;
  --navy: #14274E;
  --faded-blue: #394867;
  --grey: #9BA4B4;
}

html, body {
  height: 100%;
  margin: 0;

  font-family: 'Arial', sans-serif;
  background-color: var(--white);
}

/* AG GRID HEADER STYLING */
.grid-header {
  background-color: rgb(244, 244, 244);
  color: var(--navy);
  text-align: center;
  overflow-wrap: break-word;
}

.zwolnienia-grid-header {
  background-color: rgb(255, 248, 219);
  color: var(--navy);
  text-align: center;
  overflow-wrap: break-word;
}

.ag-header-cell-label {
  display: flex;
  justify-content: center;
}

// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
