:host {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

mat-tab-group {
  width: 80%;
  margin-top: var(--grid-ofset);
  flex: 1;
}


.pink-block {
  flex: 1;
  border: 2px solid black;
}

