<!-- TRANSACTION TABLES -->
<mat-tab-group>
  <mat-tab label="Transactions MAIN">
    <app-transactions [permanentTab]="permanentTabName1"></app-transactions>
  </mat-tab>

  <mat-tab label="Obowiązki CT">
    <app-transactions [permanentTab]="permanentTabName2"></app-transactions>
  </mat-tab>

  <mat-tab label="Analiza zwolnień">
    <app-analiza-zwolnien></app-analiza-zwolnien>
  </mat-tab>


  @for (company of uniqueCompanies(); track company) {


    <mat-tab [label]="company">

      <app-transactions [companyName]="company"></app-transactions>
    </mat-tab>

  }
</mat-tab-group>
