<!-- TRANSACTION TABLES -->
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="permanent-tab">Transactions MAIN</div>
    </ng-template>

    <app-transactions [permanentTab]="PERMANENT_TAB_NAME1"></app-transactions>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <div class="permanent-tab">Obowiązki CT</div>
    </ng-template>

    <app-transactions [permanentTab]="PERMANENT_TAB_NAME2"></app-transactions>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <div class="permanent-tab">Analiza zwolnień</div>
    </ng-template>

    <app-analiza-zwolnien></app-analiza-zwolnien>
  </mat-tab>

  @for (company of uniqueCompanies(); track company) {

  <mat-tab [label]="company">
    <app-transactions [companyName]="company"></app-transactions>
  </mat-tab>

  }
</mat-tab-group>
